nodered.txt
[{"id":"bb39f0af.c9aa4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d4481da9.29aa3","type":"ibmiot in","z":"bb39f0af.c9aa4","authentication":"apiKey","apiKey":"f381c8d3.66ac38","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"adarsh","eventType":"event_1","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":250,"y":200,"wires":[["ba78dd85.76c15","498cc90d.8c04b8","5923e0cb.09f51","c4f855e5.423588","561f74de.cbee7c"]]},{"id":"ba78dd85.76c15","type":"debug","z":"bb39f0af.c9aa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"498cc90d.8c04b8","type":"function","z":"bb39f0af.c9aa4","name":"accelerometer","func":"global.set('accelerometer',msg.payload.accelerometer)\nmsg.payload=msg.payload.accelerometer\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":80,"wires":[["d4da524e.27868","ba78dd85.76c15"]]},{"id":"5923e0cb.09f51","type":"function","z":"bb39f0af.c9aa4","name":"latitude","func":"global.set('lat',msg.payload.lat)\nmsg.payload=msg.payload.lat\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["80d63261.9ee0a","ba78dd85.76c15"]]},{"id":"c4f855e5.423588","type":"function","z":"bb39f0af.c9aa4","name":"longitude","func":"global.set('lon',msg.payload.lon)\nmsg.payload=msg.payload.lon\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["1eaa33b.7cb2fcc","ba78dd85.76c15"]]},{"id":"d4da524e.27868","type":"ui_gauge","z":"bb39f0af.c9aa4","name":"accelerometer","group":"fe3d5cb1.61aa5","order":0,"width":0,"height":0,"gtype":"donut","title":"accelerometer","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":80,"wires":[]},{"id":"80d63261.9ee0a","type":"ui_gauge","z":"bb39f0af.c9aa4","name":"","group":"bef7dd5b.d7764","order":0,"width":0,"height":0,"gtype":"gage","title":"latitude","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":160,"wires":[]},{"id":"1eaa33b.7cb2fcc","type":"ui_gauge","z":"bb39f0af.c9aa4","name":"","group":"c711ec55.637cf","order":0,"width":0,"height":0,"gtype":"gage","title":"longitude","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":260,"wires":[]},{"id":"15071ce3.31ae53","type":"ui_button","z":"bb39f0af.c9aa4","name":"","group":"9000dbc2.df5ad8","order":0,"width":0,"height":0,"passthru":false,"label":"turnon","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"turnon\"}","payloadType":"str","topic":"","x":210,"y":440,"wires":[["2fd57010.e203b","58b63fe8.32de"]]},{"id":"edd41dcb.e87b3","type":"ui_button","z":"bb39f0af.c9aa4","name":"","group":"48b1f7f8.1d5038","order":0,"width":0,"height":0,"passthru":false,"label":"turnoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"turnoff\"}","payloadType":"str","topic":"","x":210,"y":500,"wires":[["2fd57010.e203b","58b63fe8.32de"]]},{"id":"2fd57010.e203b","type":"ibmiot out","z":"bb39f0af.c9aa4","authentication":"apiKey","apiKey":"4b6a00e5.8e02","outputType":"cmd","deviceId":"12345","deviceType":"adarsh","eventCommandType":"event_1","format":"json","data":"blink","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":500,"wires":[]},{"id":"58b63fe8.32de","type":"debug","z":"bb39f0af.c9aa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":440,"wires":[]},{"id":"a754a642.532068","type":"http in","z":"bb39f0af.c9aa4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":240,"y":580,"wires":[["e000c272.21a71"]]},{"id":"613510b6.237ac","type":"http response","z":"bb39f0af.c9aa4","name":"","statusCode":"","headers":{},"x":630,"y":580,"wires":[]},{"id":"e000c272.21a71","type":"function","z":"bb39f0af.c9aa4","name":"web url","func":"msg.payload={\"accelerometer\":global.get(\"accelerometer\"),\"lat\":global.get(\"lat\"),\"lon\":global.get(\"lon\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":580,"wires":[["613510b6.237ac"]]},{"id":"9870f01e.f61bb","type":"function","z":"bb39f0af.c9aa4","name":"app","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":380,"wires":[["3e1bfd9d.7b2512","58b63fe8.32de","2fd57010.e203b"]]},{"id":"19ddb04.acb075","type":"http in","z":"bb39f0af.c9aa4","name":"","url":"/event_1","method":"get","upload":false,"swaggerDoc":"","x":210,"y":380,"wires":[["9870f01e.f61bb"]]},{"id":"3e1bfd9d.7b2512","type":"http response","z":"bb39f0af.c9aa4","name":"","statusCode":"","headers":{},"x":610,"y":380,"wires":[]},{"id":"7a6dae0a.2c122","type":"worldmap","z":"bb39f0af.c9aa4","name":"","lat":"17.3850° N","lon":"78.4867° E","zoom":"15","layer":"OSM","cluster":"0","maxage":"9000","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":620,"y":320,"wires":[]},{"id":"561f74de.cbee7c","type":"function","z":"bb39f0af.c9aa4","name":"","func":"msg.payload={\n    name:\"vehicle theft detection\",\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    icon:\"user-circle-o\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":320,"wires":[["7a6dae0a.2c122"]]},{"id":"f381c8d3.66ac38","type":"ibmiot","z":"","name":"iot","keepalive":"60","serverName":"di7wes.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"fe3d5cb1.61aa5","type":"ui_group","z":"","name":"accelerometer","tab":"1fd08fd2.3e2a9","order":1,"disp":true,"width":"6","collapse":false},{"id":"bef7dd5b.d7764","type":"ui_group","z":"","name":"latitude","tab":"1fd08fd2.3e2a9","order":2,"disp":true,"width":"6","collapse":false},{"id":"c711ec55.637cf","type":"ui_group","z":"","name":"longitude","tab":"1fd08fd2.3e2a9","order":3,"disp":true,"width":"6","collapse":false},{"id":"9000dbc2.df5ad8","type":"ui_group","z":"","name":"turnon","tab":"1fd08fd2.3e2a9","order":4,"disp":true,"width":"6","collapse":false},{"id":"48b1f7f8.1d5038","type":"ui_group","z":"","name":"turnoff","tab":"1fd08fd2.3e2a9","order":5,"disp":true,"width":"6","collapse":false},{"id":"4b6a00e5.8e02","type":"ibmiot","z":"","name":"api key","keepalive":"60","serverName":"di7wes.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"1fd08fd2.3e2a9","type":"ui_tab","z":"","name":"cloud enabled and vehicle accident detection system","icon":"dashboard","disabled":false,"hidden":false}]

